body {
    background-color: #EEEEEE;
}

.headline {
    padding: 1rem 1rem;
}

.nav-link {
    font-size: 1rem;
}

#logout, #fb-btn {
    display: none;
}

.card {
    margin: 0 auto;
    margin-top: 3rem;
    width: 250px;
}
